@use "../abstract" as *;
.abilities-block {
  padding: 90px 0;
}
.abilities-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
}
.abilities-text {
  h2 {
    margin-bottom: 15px;
  }
  p {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
  }
}
.abilities-row {
  margin-bottom: 20px;
  span {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
  }
}
.abilities-bar {
  background: #eee;
  height: 6px;
  border-radius: 5px;
  position: relative;
  > div {
    height: 100%;
    background: #0abf9e;
    border-radius: 5px;
    position: relative;
  }
  > div + .abilities-value {
    left: calc(var(--skill, 100%));
  }
}
.abilities-value {
  position: absolute;
  top: -16px;
  background: #000;
  color: #fff;
  font-size: 11px;
  padding: 4px 7px;
  border-radius: 3px;
  white-space: nowrap;
  transform: translateX(-50%);
}
.abilities-image {
  img {
    clip-path: polygon(12% 0,100% 0,88% 100%,0 100%);
    height: 100%;
    width: 100%;
  }
}