@use "../abstract" as *;
.contact-main {
  padding: 90px 0;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-top: 50px;
}

.faq {
  h4 {
    margin-bottom: 20px;
  }

  &-item {
    background: #f5f5f5;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.contact-form {
  background: #f7f7f7;
  padding: 40px;

  input,
  textarea {
    width: 100%;
    padding: 12px;
    border: none;
    margin-bottom: 15px;
  }

  textarea {
    height: 120px;
  }
}

.contact-info {
  background: #cfe5df;
  padding: 60px 0;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.info-box {
  background: #fff;
  border-radius: 40px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  gap: 20px;

  h5 {
    margin-bottom: 5px;
  }
}

.info-icon,
.info-icon1,
.info-icon2,
.info-icon3 {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #0abf9e;
  background-size: cover;
}

.info-icon  { background-image: url("img/a1.png"); }
.info-icon1 { background-image: url("img/a2.png"); }
.info-icon2 { background-image: url("img/a3.png"); }
.info-icon3 { background-image: url("img/a4.png"); }

