@use "../abstract" as *;
.cta {
  background: #cfe5df;
  padding: 70px 0;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
}
check {
  display: block;
  font-size: 12px;
  color: #444;
  margin-bottom: 25px;
}
.sub-form {
  max-width: 520px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  input {
    flex: 1;
    padding: 14px;
    border: none;
  }
  button {
    background: #0abf9e;
    color: #fff;
    border: none;
    width: 50px;
    font-size: 18px;
  }
}