@use "../abstract" as *;
.intro {
  padding: 20px 0;

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
  }

  &-img {
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  &-text {
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 15px;
      margin-bottom: 15px;
    }

    p {
      font-size: 14px;
      color: #555;
      margin-bottom: 15px;
    }
  }
}
