@use "../abstract" as *;
.offerings-block {
  padding: 90px 0;
  text-align: center;
}
.section-sub {
  max-width: 700px;
  margin: 0 auto 60px;
  font-size: 14px;
  color: #666;
}
.offerings-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.offerings-card {
  background: #fff;
  padding: 55px 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  h4 {
    margin: 15px 0;
  }
  p {
    font-size: 13px;
    color: #555;
    line-height: 1.6;
  }
}
/* Icon base */
%offerings-icon-base {
  width: 70px;
  height: 70px;
  background: #222;
  background-size: cover;
  border-radius: 18px;
  margin: 0 auto 20px;
}
.offerings-icon {
  @extend %offerings-icon-base;
  background-image: url("img/s1.png");
}
.offerings-icon1 {
  @extend %offerings-icon-base;
  background-image: url("img/s22.png");
  padding-left: 90px;
}
.offerings-icon2 {
  @extend %offerings-icon-base;
  background-image: url("img/s3.png");
}
