@use "../abstract" as *;
@media (max-width: 900px) {
  .hero {
    grid-template-columns: 1fr;

    &-right {
      display: none;
    }

    &-left {
      padding: 80px 30px;
    }
  }

  .why-grid,
  .about-grid,
  .services-cards,
  .skills-layout,
  .works-grid,
  .team-grid,
  .review-grid,
  .offer-grid,
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .price-grid {
    flex-direction: column;
    align-items: center;
  }
}
