@use "../abstract" as *;

.topbar {
  background: $dark;
  color: $white;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 998;

  &-flex {
    @include flex-between;
    height: 32px;
  }
}

.nav {
  background: $white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 999;

  &-flex {
    @include flex-between;
    height: 70px;
  }

  a {
    margin-left: 25px;
    font-size: 14px;
  }
}
