@use "../abstract" as *;

.nav {
  background: $white;
  border-bottom: 1px solid $border-light;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  a {
    margin-left: 25px;
    font-size: 14px;
  }
}
