@use "../abstract" as *;

.nav {
  background: $white;
  border-bottom: 1px solid $border-light;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;

  &-flex {
    display: flex;
    align-items: center;
    height: 70px;
  }

  /* Logo */
  .logo {
    flex-shrink: 0;
  }

  /* Navigation */
  nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* RIGHT ALIGN LINKS */
  }

  a {
    position: relative;
    margin: 0 18px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 24px 0;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: #0abf9e;
      transition: width 0.3s ease;
    }

    &:hover,
    &.active {
      color: #0abf9e;
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }
}
