.topbar {
  background: $black;
  color: $white;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 998;

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }
}
