@use "../abstract" as *;

.btn {
  padding: 10px 22px;
  font-size: 13px;
  display: inline-block;

  &.solid {
    background: $primary;
    color: $light;
  }

  &.outline {
    border: 2px solid $primary;
    color: $light;

    &:hover {
      color: $primary;
    }
  }

  &.outlinee {
    border: 2px solid $primary;
    color: $dark;

    &:hover {
      background: $dark;
      color: $light;
    }
  }
}
.btn {
  padding: 10px 22px;
  font-size: 13px;
  display: inline-block;

  &.solid {
    background: #0abf9e;
    color: #fff;
  }

  &.outline {
    border: 2px solid #0abf9e;
    color: #fff;

    &:hover {
      color: #0abf9e;
    }
  }

  &.outlin {
    border: 2px solid #0abf9e;
    color: #0abf9e;

    &:hover {
      color: black;
    }
  }

  &.outlinee {
    border: 2px solid #0abf9e;
    color: black;

    &:hover {
      background: black;
      color: white;
    }
  }

  &.outlineee {
    border: 2px solid #0abf9e;
    color: #0abf9e;

    &:hover {
      background: black;
      color: white;
    }
  }
}

.act {
  &:hover {
    background: #0abf9e;
    color: white;
  }
}

.read-btn {
  &:hover {
    background: black;
  }
}

.bb {
  &:hover {
    background: black;
  }
}

.aa {
  &:hover {
    color: #0abf9e;
  }
}
.arrow-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease;
  position: relative;

  &::after {
    content: "→";
    display: inline-block;
    transition: transform 0.3s ease, margin-left 0.3s ease;
    margin-left: 6px;
  }

  &:hover {
    color: #0abf9e;

    &::after {
      margin-left: 14px;
    }
  }
}
