@use "../abstract" as *;

.service-card {
  background: $light;
  padding: 55px 30px;
  box-shadow: 0 15px 35px rgba(0,0,0,.08);
  transition: $transition;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }
  h4 {
    margin: 15px 0;
  }
  p {
    font-size: 13px;
    color: $gray;
  }
}