$primary: #0abf9e;
$dark: #000;
$white: #fff;
$text: #222;
$gray: #555;
$border: #eee;
$font-base: Arial, Helvetica, sans-serif;
$font-heading: 'Poppins', sans-serif;
$radius-sm: 5px;
$radius-md: 18px;
$radius-lg: 40px;
$transition: all 0.3s ease;
$container-width: 1200px;
$black: #000;
$border-light: #eee;
$light: #fff;
$accent: #0abf9e;